.left-menu {
  width: 20%;
  height: 100vh;
  background-color: #cccccc;
  position: relative;
}
.left-menu .menu-layout {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
}
.left-menu .logo {
  text-align: center;
}
.left-menu .menu-temp {
  margin-left: 20px;
}
.left-menu .menu-text {
  margin-left: -20px;
}
.left-menu .active {
  background-color: red;
}
