.left-menu {
    width: 20%;
    height: 100vh;
    background-color: #cccccc;
    position: relative;
    .menu-layout {
        position: absolute;
        left: 50%;
        transform: translateX(-60%);
    }
    .logo {
        text-align: center;
    }
    .menu-temp {
        margin-left: 20px;
    }
    .menu-text {
        margin-left: -20px;
    }
    .active {
        background-color: red;
    }
}